<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concert Playlist Generator</title>
</head>
<body>
    <form action="/add" method="POST">
        <label for="artist">Artist:</label>
        <input type="text" id="artist" name="artist">
        <button type="submit">Submit</button>
    </form>

    <ul>
        < for (const artist of setlists) { %>
            <li>
                <%= artist %>

                <ul>
                    < for (const song of setlists[artist]) { %>
                        <li>
                            <%= song %>
                        </li>
                    <% } %>
                </ul>
            </li>
        <% } %>
    </ul>
</body>
</html>